<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363943633063-rvt51i5ohq951j62epk5u9ma4pkkcner.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363943633063-rvt51i5ohq951j62epk5u9ma4pkkcner</string>
	<key>API_KEY</key>
	<string>AIzaSyC8lEv-U7Pl6BbLRMuFV186EUSm_k01f8c</string>
	<key>GCM_SENDER_ID</key>
	<string>363943633063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KitoriWorks.centennialcollege.Slots</string>
	<key>PROJECT_ID</key>
	<string>slot-machine-swift</string>
	<key>STORAGE_BUCKET</key>
	<string>slot-machine-swift.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363943633063:ios:144fb6044c08886f30bb82</string>
</dict>
</plist>